hive2solrInpatientsConsumerComplaints (1).xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>a few examples of extracting from a database and indexing the data into Solr</description>
    <groupId>48968247-0176-1000-8eef-106719c7a2a7</groupId>
    <name>hive2solrInpatientsConsumerComplaints</name>
    <snippet>
        <controllerServices>
            <id>3f9b1a88-c539-3621-0000-000000000000</id>
            <parentGroupId>e04978fc-7c9c-3129-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4.2.0.4.0-80</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <processGroups>
            <id>6aad398f-7668-3ddb-0000-000000000000</id>
            <parentGroupId>e04978fc-7c9c-3129-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>015dd46e-ec3d-3ff6-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100</backPressureObjectThreshold>
                    <destination>
                        <groupId>6aad398f-7668-3ddb-0000-000000000000</groupId>
                        <id>0891109e-edc2-365b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6aad398f-7668-3ddb-0000-000000000000</groupId>
                        <id>a621b187-0f06-3c27-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>425d27bb-4586-328d-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>3</backPressureObjectThreshold>
                    <destination>
                        <groupId>6aad398f-7668-3ddb-0000-000000000000</groupId>
                        <id>b3f6f452-4be6-3e7c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6aad398f-7668-3ddb-0000-000000000000</groupId>
                        <id>b52ca5df-8ccd-3783-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>55b1c589-6108-391a-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>3</backPressureObjectThreshold>
                    <destination>
                        <groupId>6aad398f-7668-3ddb-0000-000000000000</groupId>
                        <id>43bbd073-f63b-3192-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6aad398f-7668-3ddb-0000-000000000000</groupId>
                        <id>90dc2347-053f-3dfb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8e26fd78-60fe-3eff-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10</backPressureObjectThreshold>
                    <destination>
                        <groupId>6aad398f-7668-3ddb-0000-000000000000</groupId>
                        <id>d45d2132-358d-370f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6aad398f-7668-3ddb-0000-000000000000</groupId>
                        <id>b3f6f452-4be6-3e7c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bfbe78ea-d56e-3108-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10</backPressureObjectThreshold>
                    <destination>
                        <groupId>6aad398f-7668-3ddb-0000-000000000000</groupId>
                        <id>2c5a7d89-af5b-3c6b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6aad398f-7668-3ddb-0000-000000000000</groupId>
                        <id>43bbd073-f63b-3192-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>14907a86-0cb1-392c-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.4.0-80</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                            <value>
<name>kerberos-principal</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                            <value>
<name>kerberos-password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>
<name>dbcp-min-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>
<name>dbcp-max-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>
<name>dbcp-max-conn-lifetime</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>
<name>dbcp-time-between-eviction-runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>
<name>dbcp-min-evictable-idle-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>
<name>dbcp-soft-min-evictable-idle-time</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>DBCPConnectionPool</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>jdbc:impala://gromit:21050:default</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>com.cloudera.impala.jdbc4.Driver</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>/home/jdbc</value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>marty</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>30 mins</value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>-1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <labels>
                    <id>564710c3-f1d6-334f-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <position>
                        <x>-120.0</x>
                        <y>480.0</y>
                    </position>
                    <height>136.0</height>
                    <label>Setup Instructions for the cluster:

sudo ln -s /opt/cloudera/parcels/CDH-7.1.6-1.cdh7.1.6.p0.10506313/lib/solr /usr/lib/
/usr/lib/solr/bin/solrctl.sh  instancedir --generate  ~/marty/src/solr/marty6collection
/usr/lib/solr/bin/solrctl.sh --trace --solr localhost:2181/solr --zk localhost:2181/solr instancedir  --create marty6collection ~/marty/src/solr/marty6collection

Then create the collection in the Solr webui
</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>872.0</width>
                </labels>
                <labels>
                    <id>673e0b0b-bd00-3dbf-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <position>
                        <x>1240.0</x>
                        <y>-200.0</y>
                    </position>
                    <height>136.0</height>
                    <label>customer complaint data
https://www.consumerfinance.gov/data-research/consumer-complaints/</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>304.0</width>
                </labels>
                <labels>
                    <id>8c47068f-2abf-3d1c-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <position>
                        <x>768.0</x>
                        <y>-216.0</y>
                    </position>
                    <height>136.0</height>
                    <label>Inpatient medical data flow</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>304.0</width>
                </labels>
                <processors>
                    <id>0891109e-edc2-365b-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <position>
                        <x>280.0</x>
                        <y>336.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-solr-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.4.0-80</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Solr Type</key>
<value>
    <name>Solr Type</name>
</value>
                            </entry>
                            <entry>
<key>Solr Location</key>
<value>
    <name>Solr Location</name>
</value>
                            </entry>
                            <entry>
<key>Collection</key>
<value>
    <name>Collection</name>
</value>
                            </entry>
                            <entry>
<key>Solr Update Path</key>
<value>
    <name>Solr Update Path</name>
</value>
                            </entry>
                            <entry>
<key>put-solr-record-record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>put-solr-record-record-reader</name>
</value>
                            </entry>
                            <entry>
<key>Fields To Index</key>
<value>
    <name>Fields To Index</name>
</value>
                            </entry>
                            <entry>
<key>Commit Within</key>
<value>
    <name>Commit Within</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-principal</key>
<value>
    <name>kerberos-principal</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-password</key>
<value>
    <name>kerberos-password</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Solr Socket Timeout</key>
<value>
    <name>Solr Socket Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Solr Connection Timeout</key>
<value>
    <name>Solr Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Solr Maximum Connections</key>
<value>
    <name>Solr Maximum Connections</name>
</value>
                            </entry>
                            <entry>
<key>Solr Maximum Connections Per Host</key>
<value>
    <name>Solr Maximum Connections Per Host</name>
</value>
                            </entry>
                            <entry>
<key>ZooKeeper Client Timeout</key>
<value>
    <name>ZooKeeper Client Timeout</name>
</value>
                            </entry>
                            <entry>
<key>ZooKeeper Connection Timeout</key>
<value>
    <name>ZooKeeper Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Solr Type</key>
<value>Cloud</value>
                            </entry>
                            <entry>
<key>Solr Location</key>
<value>gromit:2181/solr</value>
                            </entry>
                            <entry>
<key>Collection</key>
<value>marty8collection</value>
                            </entry>
                            <entry>
<key>Solr Update Path</key>
<value>/update</value>
                            </entry>
                            <entry>
<key>put-solr-record-record-reader</key>
<value>3f9b1a88-c539-3621-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Fields To Index</key>
<value>myip, unique_id, thread, hostname, sensor_id, c1_l, c2, c3, c4, sensor_ts</value>
                            </entry>
                            <entry>
<key>Commit Within</key>
<value>5000</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>kerberos-principal</key>
                            </entry>
                            <entry>
<key>kerberos-password</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Solr Socket Timeout</key>
<value>10 seconds</value>
                            </entry>
                            <entry>
<key>Solr Connection Timeout</key>
<value>10 seconds</value>
                            </entry>
                            <entry>
<key>Solr Maximum Connections</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Solr Maximum Connections Per Host</key>
<value>5</value>
                            </entry>
                            <entry>
<key>ZooKeeper Client Timeout</key>
<value>10 seconds</value>
                            </entry>
                            <entry>
<key>ZooKeeper Connection Timeout</key>
<value>10 seconds</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>500</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutSolrRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>connection_failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.solr.PutSolrRecord</type>
                </processors>
                <processors>
                    <id>2c5a7d89-af5b-3c6b-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <position>
                        <x>1248.0</x>
                        <y>328.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-solr-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.4.0-80</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Solr Type</key>
<value>
    <name>Solr Type</name>
</value>
                            </entry>
                            <entry>
<key>Solr Location</key>
<value>
    <name>Solr Location</name>
</value>
                            </entry>
                            <entry>
<key>Collection</key>
<value>
    <name>Collection</name>
</value>
                            </entry>
                            <entry>
<key>Solr Update Path</key>
<value>
    <name>Solr Update Path</name>
</value>
                            </entry>
                            <entry>
<key>put-solr-record-record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>put-solr-record-record-reader</name>
</value>
                            </entry>
                            <entry>
<key>Fields To Index</key>
<value>
    <name>Fields To Index</name>
</value>
                            </entry>
                            <entry>
<key>Commit Within</key>
<value>
    <name>Commit Within</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-principal</key>
<value>
    <name>kerberos-principal</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-password</key>
<value>
    <name>kerberos-password</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Solr Socket Timeout</key>
<value>
    <name>Solr Socket Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Solr Connection Timeout</key>
<value>
    <name>Solr Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Solr Maximum Connections</key>
<value>
    <name>Solr Maximum Connections</name>
</value>
                            </entry>
                            <entry>
<key>Solr Maximum Connections Per Host</key>
<value>
    <name>Solr Maximum Connections Per Host</name>
</value>
                            </entry>
                            <entry>
<key>ZooKeeper Client Timeout</key>
<value>
    <name>ZooKeeper Client Timeout</name>
</value>
                            </entry>
                            <entry>
<key>ZooKeeper Connection Timeout</key>
<value>
    <name>ZooKeeper Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Solr Type</key>
<value>Cloud</value>
                            </entry>
                            <entry>
<key>Solr Location</key>
<value>gromit:2181/solr</value>
                            </entry>
                            <entry>
<key>Collection</key>
<value>complaints</value>
                            </entry>
                            <entry>
<key>Solr Update Path</key>
<value>/update</value>
                            </entry>
                            <entry>
<key>put-solr-record-record-reader</key>
<value>3f9b1a88-c539-3621-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Fields To Index</key>
<value>datereceived, productname, subproduct, issue, subissue, consumercomplaintnarrative, companypublicresponse, company, statename, zipcode, tags, consumerconsentprovided, submittedvia, datesenttocompany, companyresponsetoconsumer, timelyresponse, consumerdisputed, complaintid_l
</value>
                            </entry>
                            <entry>
<key>Commit Within</key>
<value>5000</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>kerberos-principal</key>
                            </entry>
                            <entry>
<key>kerberos-password</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Solr Socket Timeout</key>
<value>10 seconds</value>
                            </entry>
                            <entry>
<key>Solr Connection Timeout</key>
<value>10 seconds</value>
                            </entry>
                            <entry>
<key>Solr Maximum Connections</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Solr Maximum Connections Per Host</key>
<value>5</value>
                            </entry>
                            <entry>
<key>ZooKeeper Client Timeout</key>
<value>10 seconds</value>
                            </entry>
                            <entry>
<key>ZooKeeper Connection Timeout</key>
<value>10 seconds</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>500</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutSolrRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>connection_failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.solr.PutSolrRecord</type>
                </processors>
                <processors>
                    <id>43bbd073-f63b-3192-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <position>
                        <x>1232.0</x>
                        <y>128.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-avro-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.4.0-80</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JSON container options</key>
<value>
    <name>JSON container options</name>
</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>
    <name>Wrap Single Record</name>
</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
<value>
    <name>Avro schema</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JSON container options</key>
<value>array</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertAvroToJSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                </processors>
                <processors>
                    <id>90dc2347-053f-3dfb-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <position>
                        <x>1224.0</x>
                        <y>-104.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.4.0-80</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>
    <name>db-fetch-db-type</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
<value>
    <name>Columns to Return</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
<value>
    <name>db-fetch-where-clause</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-sql-query</key>
<value>
    <name>db-fetch-sql-query</name>
</value>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
<value>
    <name>Maximum-value Columns</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>Fetch Size</key>
<value>
    <name>Fetch Size</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-max-rows</key>
<value>
    <name>qdbt-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-output-batch-size</key>
<value>
    <name>qdbt-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-max-frags</key>
<value>
    <name>qdbt-max-frags</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>transaction-isolation-level</key>
<value>
    <name>transaction-isolation-level</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>14907a86-0cb1-392c-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>Generic</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>default.complaints</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
<value>datereceived, productname, subproduct, issue, subissue, consumercomplaintnarrative, companypublicresponse, company, statename, zipcode, tags, consumerconsentprovided, submittedvia, datesenttocompany, companyresponsetoconsumer, timelyresponse, consumerdisputed, complaintid_l
</value>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
                            </entry>
                            <entry>
<key>db-fetch-sql-query</key>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>Fetch Size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-max-rows</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>qdbt-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-max-frags</key>
<value>0</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>transaction-isolation-level</key>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>QueryComplaintsTable</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryDatabaseTable</type>
                </processors>
                <processors>
                    <id>9d2b1f6f-eb2e-34f4-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <position>
                        <x>352.0</x>
                        <y>-112.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.4.0-80</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>
    <name>db-fetch-db-type</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
<value>
    <name>Columns to Return</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
<value>
    <name>db-fetch-where-clause</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-sql-query</key>
<value>
    <name>db-fetch-sql-query</name>
</value>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
<value>
    <name>Maximum-value Columns</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>Fetch Size</key>
<value>
    <name>Fetch Size</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-max-rows</key>
<value>
    <name>qdbt-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-output-batch-size</key>
<value>
    <name>qdbt-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-max-frags</key>
<value>
    <name>qdbt-max-frags</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>transaction-isolation-level</key>
<value>
    <name>transaction-isolation-level</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>14907a86-0cb1-392c-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>Generic</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>default.sample_07</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
<value>code, description, total_emp, salary</value>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
                            </entry>
                            <entry>
<key>db-fetch-sql-query</key>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>Fetch Size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-max-frags</key>
<value>0</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>transaction-isolation-level</key>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>QueryDatabaseTable</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryDatabaseTable</type>
                </processors>
                <processors>
                    <id>a621b187-0f06-3c27-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <position>
                        <x>272.0</x>
                        <y>120.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.4.0-80</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>{"myip": "${ip()}","unique_id": "${UUID()}","thread": "${thread()}","hostname": "${hostname()}","sensor_id": ${random():mod(30)},"c1_l": ${random():mod(100)},"c2": ${random():mod(50)},"c3": ${random():mod(500)},"c4": ${random():mod(110)},"sensor_ts": ${now():toNumber()}}
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>b3f6f452-4be6-3e7c-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <position>
                        <x>752.0</x>
                        <y>128.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-avro-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.4.0-80</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JSON container options</key>
<value>
    <name>JSON container options</name>
</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>
    <name>Wrap Single Record</name>
</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
<value>
    <name>Avro schema</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JSON container options</key>
<value>array</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertAvroToJSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                </processors>
                <processors>
                    <id>b52ca5df-8ccd-3783-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <position>
                        <x>744.0</x>
                        <y>-64.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.4.0-80</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>
    <name>db-fetch-db-type</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
<value>
    <name>Columns to Return</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
<value>
    <name>db-fetch-where-clause</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-sql-query</key>
<value>
    <name>db-fetch-sql-query</name>
</value>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
<value>
    <name>Maximum-value Columns</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>Fetch Size</key>
<value>
    <name>Fetch Size</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-max-rows</key>
<value>
    <name>qdbt-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-output-batch-size</key>
<value>
    <name>qdbt-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-max-frags</key>
<value>
    <name>qdbt-max-frags</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>transaction-isolation-level</key>
<value>
    <name>transaction-isolation-level</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>14907a86-0cb1-392c-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>Generic</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>default.inpatient</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
<value>drgdefinition,providerid,providername,providerstreetaddress,providercity,providerstate,providerzipcode,hospitalreferralregionhrrdescription,totaldischarges_f,averagecoveredcharges_f,averagetotalpayments_f,averagemedicarepayments_f</value>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
                            </entry>
                            <entry>
<key>db-fetch-sql-query</key>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>Fetch Size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-max-rows</key>
<value>5</value>
                            </entry>
                            <entry>
<key>qdbt-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-max-frags</key>
<value>0</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>transaction-isolation-level</key>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>QueryDatabaseTable</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryDatabaseTable</type>
                </processors>
                <processors>
                    <id>d45d2132-358d-370f-0000-000000000000</id>
                    <parentGroupId>6aad398f-7668-3ddb-0000-000000000000</parentGroupId>
                    <position>
                        <x>768.0</x>
                        <y>328.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-solr-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4.2.0.4.0-80</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Solr Type</key>
<value>
    <name>Solr Type</name>
</value>
                            </entry>
                            <entry>
<key>Solr Location</key>
<value>
    <name>Solr Location</name>
</value>
                            </entry>
                            <entry>
<key>Collection</key>
<value>
    <name>Collection</name>
</value>
                            </entry>
                            <entry>
<key>Solr Update Path</key>
<value>
    <name>Solr Update Path</name>
</value>
                            </entry>
                            <entry>
<key>put-solr-record-record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>put-solr-record-record-reader</name>
</value>
                            </entry>
                            <entry>
<key>Fields To Index</key>
<value>
    <name>Fields To Index</name>
</value>
                            </entry>
                            <entry>
<key>Commit Within</key>
<value>
    <name>Commit Within</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-principal</key>
<value>
    <name>kerberos-principal</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-password</key>
<value>
    <name>kerberos-password</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Solr Socket Timeout</key>
<value>
    <name>Solr Socket Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Solr Connection Timeout</key>
<value>
    <name>Solr Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Solr Maximum Connections</key>
<value>
    <name>Solr Maximum Connections</name>
</value>
                            </entry>
                            <entry>
<key>Solr Maximum Connections Per Host</key>
<value>
    <name>Solr Maximum Connections Per Host</name>
</value>
                            </entry>
                            <entry>
<key>ZooKeeper Client Timeout</key>
<value>
    <name>ZooKeeper Client Timeout</name>
</value>
                            </entry>
                            <entry>
<key>ZooKeeper Connection Timeout</key>
<value>
    <name>ZooKeeper Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Solr Type</key>
<value>Cloud</value>
                            </entry>
                            <entry>
<key>Solr Location</key>
<value>gromit:2181/solr</value>
                            </entry>
                            <entry>
<key>Collection</key>
<value>inpatient2</value>
                            </entry>
                            <entry>
<key>Solr Update Path</key>
<value>/update</value>
                            </entry>
                            <entry>
<key>put-solr-record-record-reader</key>
<value>3f9b1a88-c539-3621-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Fields To Index</key>
<value>drgdefinition,providerid,providername,providerstreetaddress,providercity,providerstate,providerzipcode,hospitalreferralregionhrrdescription,totaldischarges_f,averagecoveredcharges_f,averagetotalpayments_f,averagemedicarepayments_f</value>
                            </entry>
                            <entry>
<key>Commit Within</key>
<value>5000</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>kerberos-principal</key>
                            </entry>
                            <entry>
<key>kerberos-password</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Solr Socket Timeout</key>
<value>10 seconds</value>
                            </entry>
                            <entry>
<key>Solr Connection Timeout</key>
<value>10 seconds</value>
                            </entry>
                            <entry>
<key>Solr Maximum Connections</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Solr Maximum Connections Per Host</key>
<value>5</value>
                            </entry>
                            <entry>
<key>ZooKeeper Client Timeout</key>
<value>10 seconds</value>
                            </entry>
                            <entry>
<key>ZooKeeper Connection Timeout</key>
<value>10 seconds</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>500</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutSolrRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>connection_failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.solr.PutSolrRecord</type>
                </processors>
            </contents>
            <name>hive2solr</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>04/16/2021 15:46:49 EDT</timestamp>
</template>
